Package: yahtcc
Version: 1.0-3
Section: games
Priority: optional
Architecture: phoenix
Depends: libsystem
Maintainer: JackMacWindows <jackmacwindowslinux@gmail.com>
Description: Yahtzee game for Phoenix
 Yahtzee game for Phoenix
